<div class="row bg">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <h2 class="text-center mt-5">Recipe Downloaded List</h2>
        <div class="row my-4 pe-5 mt-5">
           
           

            <div class="row  p-5">
                <table class="table text-center rounded shadow">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                       
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Status</th> 
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of testimonies | paginate: { itemsPerPage: 5, currentPage: p }; track $index) {
                        <tr>
                            <th scope="row">{{$index+1}}</th>
                            <th scope="row">{{item.name}}</th>
                            <td>{{item.email}}</td>
                            <td>{{item.message}}</td>
                            <td>
                                  @if (item.status=='Pending') {
                                    <button (click)="updateStatus(item._id,'Approved')" class="btn btn-success">Approve</button>
                                    <button (click)="updateStatus(item._id,'Rejected')" class="btn btn-danger">Rejected</button>

                                }
                                @else if (item.status=='Approved') {
                                    <button class="btn btn-success">Approve</button>
                                }
                                @else {
                                    <button class="btn btn-danger">Rejected</button>
                                }
                            </td>
                          </tr>
                      }
                     
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

        </div>
    </div>
</div>