<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h3>Filters</h3>
        </div>
        <div class="col-4">
            <h2>All Recipes</h2>
        </div>
        <div class="col-4">
            <input type="text" placeholder="Search Your Recipe here" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div>
                <button class="btn ">All</button>
                <br>
                <button class="btn">Cuisine Type</button>
                <br>
                <button class="btn">Meal Type</button>
               </div>
        </div>
        <div class="col-9">
            <div class="row mt-5">
                <div class="col-3 m-3">
                    <div class="card shadow">
                        <img src="https://th.bing.com/th/id/OIP.vcRzGXgSvXvYZg95wr5VfgHaHa?w=626&h=626&rs=1&pid=ImgDetMain" width="100%" alt="">
                        <div class="text-center">
                            <h5>Name</h5>
                        <h6>Cuisine :</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>