<div class="row bg">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <h2 class="text-center mt-5">All Users List</h2>
        <div class="row my-4 pe-5 mt-5">
           
           

            <div class="row  p-5">
                <table class="table text-center rounded shadow">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th> 
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of userList | paginate: { itemsPerPage: 3, currentPage: p }; track $index) {
                        <tr>
                            <th scope="row">{{$index+1}}</th>
                            <th scope="row">{{item._id}}</th>
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                           
                          </tr>
                      }
                     
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

        </div>
    </div>
</div>