<div class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class=" col-8">
       <div class="nav row p-3 mt-4 rounded  shadow d-flex  ">
        <div class="col-6">
            <h2>Admin Dashboard</h2>
        </div>
        <div class="col-4">
           
        </div>
        <div class="col-2 mt-2">
            <span class=" dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user fs-3 mx-2"></i>
            </span>
            <ul class="dropdown-menu">
              <li><span class="dropdown-item ">Logout</span></li>
            </ul>
        </div>
       </div>

       <div class="row mt-4 text-center">
        <div class="card col-2 shadow px-5 pt-3">
            <p>Users</p>
            <h2 class="mb-5">0</h2>
        </div>
        <div class="card col-2 px-4 pt-3">
            <p>Recipes</p>
            <h2 class="mb-5">0</h2>
        </div>
        <div class="col-2 card px-2 pt-3 ps-3">
            <p>Downloads</p>
            <h2 class="mb-5">0</h2>
        </div>
        <div class="col-3 card px-5 pt-3 ps-5">
            <p>Notifications</p>
            <h2 class="mb-5">0</h2>
        </div>
       </div>
       <div class="row">
        <div class="col-6">
            chart
            <highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
        </div>
        <div class="col-6">
    
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
       </div>
    </div>
</div>

