<div class="row bg">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <h2 class="text-center mt-5">All Recipe List</h2>
        <div class="row my-4 pe-5 mt-5">
            <div class="col">
                <button class="btn " routerLink="/admin/addRecipe">Add Recipe</button>
            </div>
            <div class="col">
                <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Search a Recipe">
            </div>

            <div class="row mt-5 p-5">
                <table class="table text-center rounded shadow">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Cuisine</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of recipeList|search:searchKey | paginate: { itemsPerPage: 3, currentPage: p }; track $index) {
                        <tr>
                            <th scope="row">{{$index+1}}</th>
                            <td>{{item.name}}</td>
                            <td><img [src]="item.image" width="100px" alt=""></td>
                            <td>{{item.cuisine}}</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                        <i routerLink="/admin/editRecipe/{{item._id}}" class="fa-solid fa-pen text-primary fs-5"></i>
                                        <i class="fa-solid fa-trash text-danger fs-5"></i>
                                </div>
                            </td>
                          </tr>
                      }
                     
                    </tbody>
                  </table>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

        </div>
    </div>
</div>